@charset "utf-8";
@import url("./normalize.css");
@import url("./color_for_penguin.css");
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap');
@import url("./keyframes.css");
@import url("./properties.css");

/*膨大な文字量になるので各段落を外部に分けてる*/
@import url("./honbun/title.css");
@import url("./honbun/danraku-1.css");
@import url("./honbun/danraku-2.css");
@import url("./honbun/danraku-3.css");
@import url("./honbun/danraku-4.css");
@import url("./honbun/danraku-5.css");
@import url("./honbun/danraku-6.css");
@import url("./honbun/danraku-7.css");
@import url("./honbun/danraku-8.css");
@import url("./honbun/danraku-9.css");
@import url("./honbun/danraku-10.css");
@import url("./honbun/danraku-11.css");
@import url("./honbun/danraku-12.css");
@import url("./honbun/danraku-13.css");
@import url("./honbun/danraku-14.css");
@import url("./honbun/danraku-15.css");
@import url("./honbun/danraku-16.css");
@import url("./honbun/danraku-17.css");
@import url("./honbun/danraku-18.css");
@import url("./honbun/danraku-19.css");
@import url("./honbun/danraku-20.css");
@import url("./honbun/danraku-21.css");
@import url("./honbun/danraku-22.css");
@import url("./honbun/danraku-23.css");
@import url("./honbun/danraku-24.css");
@import url("./honbun/danraku-25.css");
@import url("./honbun/danraku-26.css");
@import url("./honbun/danraku-27.css");
@import url("./honbun/danraku-28.css");



*{
    font-size:15px;
    font-family: 'Kiwi Maru', serif;
}

.wrap{
    width:700px;
    /*1rem*1.6 が1マス分の大きさ、それが24文字分積み重なり、border分(26px)も加算する*/
    max-height:calc(calc(calc(1rem * 1.6) * 22) + 23px);
    min-height:calc(calc(calc(1rem * 1.6) * 18) + 19px);
    margin:2rem auto;
    padding:1rem 8rem 1rem 1rem;
    writing-mode:vertical-rl;
    text-orientation:upright;
    line-height:1.6rem;
    /*そもそも1セルに対して1文字だからletter-spacingはいらなかったわ*/
    /*letter-spacing:0.3rem;*/
    overflow:scroll;
    border:1px solid #000;
}


.honbun{
    /*文字数でwidthは変えるよ*/
    /*width:200vw;*/
    height:100%;
    margin:0;
    display:inline-flex;
    flex-direction:column;
    /* gap:0.5rem; */
    /*border:1px solid var(--color_sora);*/
}

.danraku{
    margin:0;
}

/*classの属性値として"bunsyou"を含む場合のタグ全てに適応させてるよ。もちろん、class="bunsyou"みたいな単一でも機能するよ。*/
/*ぶっちゃけ普通の[class~="bunsyou"]{}は.bunsyou{}と同じクラスセレクタ*/
/*[class^="bunsyou"]{}だと <hoge class="bunsyouuuuuuuuuuuu"></hoge>も含んじゃうからここら辺注意ね*/
[class~=bunsyou]{
    display:inline-flex;
    flex-direction:row;
    flex-wrap:wrap;
    font-size:0;
    justify-content:flex-start;
    /* justify-content:space-between; */
    align-items:center;
    letter-spacing:0;
    /*bunsyouの最低高さを18マス(+border分)とすることで、bunsyouを重ねると強制改行する。18マスなのはwrapの最低の高さが18マスだから。*/
    min-height:calc(calc(1.6rem * 18) + 19px);
    padding:0;
    margin:0 0.5rem 0 -0.5rem;
    list-style-type:none;
}
/*class="keisen"を持つタグ全てに適応するCSSやで*/
                                    /*[id^="moji_"]*//*←は修正前の名残り。id="moji_◯"みたいなmoji_から始まるid全てに適応させるセレクタの書き方だよ*/
[class~="keisen"]{
    /* display:inline-block; */
    /*一文字分の横幅 = line-height*/
    width:1.6rem;
    height:1.6rem;
    line-height:1.6rem;
    /*marginのbottomをネガティブマージンにすることでborderを重ねて表示してるよ*/
    margin:0 0 -1px 0.7rem;
    text-align:center;
    border-color:#666;
    /*左右だけborderをつける*/
    border-width:1px 1px 1px 1px;
    border-style:dashed solid;    
}
/*文字色設定*/
.moji{ 
    color:var(--color_kesizumi);
}

/*博士とロボット関係の文字を変えてるよ*/
.hakase{
    color:var(--color_nadesiko);
}
.robotto{
    color:var(--color_sora);
}

/*radioボタンcss*/
input[name^="danraku"]{
    /*見えなくしてるよ*/
    display:none;
}