@charset "utf-8";

/* keyframesのためのcssだよ〜 */
@keyframes fadein{
    from{opacity:0;}
    to{opacity:1;}
}
@keyframes bunsyou-fadein{
    from{opacity:0;}
    to{opacity:1;}
}

@keyframes fadeout{
    from{opacity:1;}
    to{opacity:0;}
}

/*
推奨プロパティ値
animation: markup 2000ms ease-in-out 0s infinite normal forwards;
*/
@keyframes markup{
    from{opacity:0.2;}
    50%{opacity:0.8;}
    to{opacity:0.2;}
}

/*
推奨プロパティ値
animation: read 3000ms ease 0s 1 normal forwards;
*/
@keyframes read{
    from{opacity:0.2;}
    to{opacity:1;}
}

@keyframes ifchecked{
    from{opacity:0.8;}
    to{opacity:0.2;}
}

/*
推奨プロパティ値...visibilityの切り替えのためのアニメーションなので、animation-delayによる遅延で切り替えタイミングを調整する。切り替え自体は1msで一瞬や。
visibility-switch-from-hidden 1ms ease 3100ms 1 normal forwards;*/
@keyframes visibility-switch-from-hidden{
    from{
        visibility:hidden;
    }
    to{
        visibility:visible;
    }
}