@charset "utf-8";
@import url("../normalize.css");
@import url("../keyframes.css");
@import url("../properties.css");


/*
[2] <input type="radio"> 内で，checked属性 を指定すると，このラジオボタンが初期状態でチェックされた状態になります。
同じ name属性 の値をもつラジオボタンのグループ内で，１つに checked属性を指定することができます。
checked属性が１つもない場合のラジオボタンの動作は未定義 です。（ 「どのラジオボタンもチェックされていない状態」になるわけではありません ので，注意が必要です。）
必ずどれか１つに checked属性を指定 してください。
*/
/*
どうも選択inputにおいて「:checked」「:not(checked)」「どちらでもない未定義状態」の３パターンあるっぽい
*/

/*****前の段落がcheckedになったら、check可能になるよ。*****/
#danraku-8-radio:not(:checked) ~ #danraku-9-radio+label{
    visibility:hidden;
}
#danraku-8-radio:checked ~ #danraku-9-radio+label{
    animation:var(--animation-bunsyou-read);
}
/*****----*****/

/*****danraku-8-radio:checkedの状態で下記になる*****/
#danraku-9 .moji{
    opacity:0;
}

#danraku-9-radio:not(:checked) + label .keisen{
    border-color:var(--color_gin-nezumi);
    animation:var(--animation-keisen-markup);
}

#danraku-9-radio:checked+label li:nth-of-type(2) .moji{animation: var(--animation-moji-1-fadein)}
#danraku-9-radio:checked+label li:nth-of-type(3) .moji{animation: var(--animation-moji-2-fadein)}
#danraku-9-radio:checked+label li:nth-of-type(4) .moji{animation: var(--animation-moji-3-fadein)}
#danraku-9-radio:checked+label li:nth-of-type(5) .moji{animation: var(--animation-moji-4-fadein);}
#danraku-9-radio:checked+label li:nth-of-type(6) .moji{animation: var(--animation-moji-5-fadein)}
#danraku-9-radio:checked+label li:nth-of-type(7) .moji{animation: var(--animation-moji-6-fadein)}
#danraku-9-radio:checked+label li:nth-of-type(8) .moji{animation: var(--animation-moji-7-fadein)}
#danraku-9-radio:checked+label li:nth-of-type(9) .moji{animation: var(--animation-moji-8-fadein);}
#danraku-9-radio:checked+label li:nth-of-type(10) .moji{animation: var(--animation-moji-9-fadein);}
#danraku-9-radio:checked+label li:nth-of-type(11) .moji{animation: var(--animation-moji-10-fadein);}
#danraku-9-radio:checked+label li:nth-of-type(12) .moji{animation: var(--animation-moji-11-fadein);}
#danraku-9-radio:checked+label li:nth-of-type(13) .moji{animation: var(--animation-moji-12-fadein);}
#danraku-9-radio:checked+label li:nth-of-type(14) .moji{animation: var(--animation-moji-13-fadein);}
#danraku-9-radio:checked+label li:nth-of-type(15) .moji{animation: var(--animation-moji-14-fadein);}
#danraku-9-radio:checked+label li:nth-of-type(16) .moji{animation: var(--animation-moji-15-fadein);}


#danraku-9-radio:checked + label .keisen:not(.kagikakko){
    border-color:#666;
    /* animation:var(--animation-bunsyou-fadein); */
    animation:read 1000ms ease 0s 1 normal forwards;
}
/*****---*****/